<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getCRUS</title>
</head>

<body>
    <table>
        <% for (let i=0 ; i < dataUsers.length ;i++) { %>
            <tr>
                <td>
                    <%= dataUsers[i].id %>
                </td>
                <td>
                    <%= dataUsers[i].email %>
                </td>
                <td>
                    <%= dataUsers[i].firstName %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%=dataUsers[i].id%>" class="btn-edit" type="button">Edit</a>
                    <button class="btn-delete" type="button">Delete</button>

                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>