<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOI DAN IT</title>
</head>

<body>
    <h1>HOI DAN IT</h1>
    <div>ABCC FROM VIEW</div>
    <div> LOGIN</div>
    <div>
        <span>Username</span>
        <input type="text" id="password" value="" />
    </div>
</body>

</html>